<html lang="en">
    <head>
        <meta charset="UTF-8" >
        <title>[{{ id }}]</title>
        <link rel="stylesheet" href="{{ back_path }}/style.css"/>
    </head>
    <body>
        <hr/>
        <nav>{% include "topnav.html" %}</nav>
        <hr/>
        <h1 id="id-header"><pre>{% if anchor %}^{% else %} {% endif %}[{{ id }}]</pre></h1>
        <hr/>
        <div id="main">{{ text | safe }}</div>
        <hr/>
        <pre>{% if edit %}<a class="anchor" href="/edit/{{ id }}">[_/]</a>{% endif %} </pre>
        <hr/>
        <span>{{ cycles }} - {{ time_spent }}</span>
    </body>
</html>
